@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

html {
  direction: rtl;
}
@font-face {
  font-family: "Almarai";
  src: url("./assets/Fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Almarai", sans-serif;
}
/* globals.css or inside a CSS module */
.clip-hexagon {
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}
@keyframes bounce-slide {
  0% {
    transform: translateY(-10px) scale(1.05);
  }
  50% {
    transform: translateY(-5px) scale(1.02);
  }
  70% {
    transform: translateY(-8px) scale(1.03);
  }
  100% {
    transform: translateY(-10px) scale(1.05);
  }
}


.MuiModal-root {
  z-index: 3000 !important;
}